<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}">

    <title>BootAdmin</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand" href="#">Admin page</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-envelope"></i> 5</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i> 3</a></li>
            <li class="nav-item dropdown">
                <a href="#" id="current-user" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                    <span id="cur_user" sec:authentication="principal.username">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                    <a href="#" class="dropdown-item">Profile</a>
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" id="link-logout" class="dropdown-item" value="Logout"/>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex">
    <div th:replace="blocks/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Products</h2>

        <div class="card mb-4">

            <h2 class="mb-4" th:if="${edit}">Edit product</h2>
            <h2 class="mb-4" th:if="${create}">Create product</h2>

            <form th:object="${product}" method="post" th:action="@{/product}" enctype="multipart/form-data">
                <div class="card mb-4">
                    <div class="card-body">
                        <input th:type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label for="name">User name</label>
                            <input th:field="*{title}" type="text" class="form-control" id="name"
                                   placeholder="Enter user name" required>
                        </div>
                        <div class="form-group">
                            <label for="cost">Price</label>
                            <input th:field="*{cost}" type="text" class="form-control" id="cost"
                                   placeholder="Enter product price" required>
                        </div>
                        <div class="form-group">
                            <label for="brand">Brand</label>
                            <select class="form-control" id="brand" th:field="*{brand}" required>
                                <option th:each="brand : ${brands}"
                                        th:text="${brand.title}"
                                        th:value="${brand.id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="category">Categories</label>
                            <select class="form-control" id="category" th:field="*{category}" required>
                                <option th:each="cat : ${categories}"
                                        th:text="${cat.title}"
                                        th:value="${cat.id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="newPictures">Product image</label>
                            <input th:field="*{newPictures}" type="file" class="form-control" id="newPictures"
                                   placeholder="Upload new product picture" multiple>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>

            <div class="container-fluid mb-4">
                <div class="card-columns" style="column-count: 5">
                    <div class="card" th:each="pict : ${product.pictures}">
                        <div class="card-header">Picture</div>
                        <img class="card-img-bottom" th:src="@{/picture/{pictureId}(pictureId=${pict.id})}"
                             width="40%"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/bootadmin.min.js}"></script>

</body>
</html>